.price-list-main-container {
  background-image: linear-gradient(-90deg, #cbd5e1, #f1f5f9);

  section {
    .color-div {
      width: 70%;
      background: linear-gradient(212deg, #002ae2, #3960ec, #4691f6, #41c1ff);
    }

    .card {
      background-color: rgb(246, 246, 246);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      .price-btn {
        background-color: #5b7799;
        color: #fff;
        letter-spacing: 1px;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
